.post-detail-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem auto;
  border: 1px solid black;

  ul {
    list-style: none;
    text-align: left;
  }

  .post-detail-info {
    width: 33%;

    .post-detail-title {
      width: 100%;
    }
  }

  .post-detail-body {
    width: 33%;
  }

  .post-detail-extras {
    width: 33%;
  }

  .post-detail-button-container {
    width: 30%;
    margin: 0.5rem auto;

    .post-detail-button {
      margin: 0 0.5rem;
    }
  }
}
