.post-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem auto;
  border: 1px solid black;

  ul {
    list-style: none;
    text-align: left;
  }

  .post-card-info {
    width: 33%;

    .post-card-title {
      width: 100%;
    }
  }

  .post-card-body {
    width: 33%;
  }

  .post-card-extras {
    width: 33%;
  }

  .post-card-button-container {
    margin: 0.5rem auto;

    .post-card-button {
      margin: 0 0.5rem;
    }
  }
}
